//Colors
$white: 							 rgb(255, 255, 255);
$black:								 rgb(0, 0, 0);

$black--testimony:		 rgb(51,51,51);

$grey: 								 rgb(248,250,255);
$grey-light:					 rgb(102,102,102);
$grey-border:					 rgb(237,237,237);
$grey-carrieres:			 rgb(153,153,153);

$yellow:							 rgb(255,152,0);
$purple:							 rgb(191,74,216);
$green:								 rgb(125,201,198);

$red:									 rgb(240,7,83);

$blue:								 rgb(64,132,197);
$blue-dark:						 rgb(28,69,110);

$yellow-grad-start: 	 rgb(255,152,0);
$yellow-grad-end:			 rgb(255,203,0);
$purple-grad-start:		 rgb(191,74,216);	
$purple-grad-end:			 rgb(219,170,220);	
$blue-grad-start:			 rgb(183,214,247);	
$blue-grad-end:				 rgb(97,168,237);	
$green-grad-start:		 rgb(199,234,233);	
$green-grad-end:			 rgb(125,201,198);	

$blue--solutions:			 rgb(167,205,245);
$blue--valeurs:				 rgb(98,168,237);
$blue--form:					 rgb(0,170,232);
$blue--footer:				 rgb(62,139,211);
$blue--home:					 rgb(223,236,252);
$blue--anchor:				 rgb(54,99,143);
$blue--single:				 rgb(75,104,136);
$blue--input:				   rgb(126,169,239);

//Fonts family
$defaultFont: 				'Lato', Arial, Helvetica, sans-serif;
$titleFont: 					'Raleway', sans-serif;

//Fonts weight
$fontWeight-900:			 900;
$fontWeight-700: 			 700;
$fontWeight-400: 			 400;
$fontWeight-300: 			 300;
$fontWeight-100: 			 100;

//Fonts size
$fontSize-40:			  2.5rem;
$fontSize-32:					2rem;
$fontSize-24:				1.5rem;
$fontSize-20:			 1.25rem;
$fontSize-18:			1.125rem;
$fontSize-16:					1rem;
$fontSize-14:			0.875rem;
$fontSize-12:			 0.75rem;

//Media size
$mini:          		 320px;
$xtra-small:    		 480px;
$small:         		 640px;
$medium:        		 768px;
$large:         		 992px;
$xtra-large:   			1200px;
$desktop:      			1440px;
$retina:       			2048px;
